$primary-color:#F9E79F;
$secondary-color:#E7E9EE;
$font-primary:#5A5C66;
$font-secondary:#535896;
$bac-color:#F5EEF8;
$border-color:#14AE5C;
$border: 2px solid #e4e4e450;
$box-shadow: 0 2px 5px #a3a3a3;